.title,
.footer{
  font-family: "Game of Thrones";
}
.searchButton,
.dropdown,
.btns,
.chData,
.sQuote
{
  font-family: 'Pinyon Script', cursive;
}
.quote{
  font-family: "Vanessa Handscript";
}
.name{
  font-family: "Julia-HandScript";
}